venv/
.virtualenv/
__pycache__/
*.pyc

.env
*.db
*.sqlite3
*.log

firebase_service_account.json
firebase*.json
serviceAccount*.json

uploads/
classroom_test_images/
classroom_session_images/
enrollments/	
